#virtualenv
/my_env/*
output/meta.json
output/tokenizer
output/ner/cfg
output/ner/lower_model
output/ner/moves
output/ner/tok2vec_model
output/ner/upper_model
output/parser/cfg
output/parser/lower_model
output/parser/moves
output/parser/tok2vec_model
output/parser/upper_model
output/tagger/cfg
output/tagger/model
output/tagger/tag_map
output/textcat/cfg
output/textcat/model
output/vocab/key2row
output/vocab/lexemes.bin
output/vocab/strings.json
output/vocab/vectors
test.csv
test.csv.zip
train.csv
train.csv.zip
